*.pyc

dist/
build/
*.egg-info/

.tox/
.vscode/.ropeproject/
.coverage

Session.vim
test.log
.pytest_cache/*
keypack.pyu
pyu-data/
pyu.log
tests/NOT_for_Repo/
log*
*.swp
venv/
*.exe.spec
tests/NOTforRepo/
*.pddl
*.out
README.rst
setup.pyc
.ipynb_checkpoints/